{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for run in runs %}
                <tr>
                    <td><a href="{{ url_for('run', run_id=run.id) }}">{{ run.id }}</a></td>
                    <td>{{ run.name }}</td>
                    <td>{{ run.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_previous %}
                        <li class="page-item"><a class="page-link" href="{{ page_previous }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
                    <li class="page-item"><a class="page-link" href="{{ page_next }}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}