body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

table.condense {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

pre code {
    font-size: 0.5rem;
}

div.log {
    background-color: beige;
}