body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

table.condense {
    font-family: 'Consolas', 'Menlo', monospace;
    font-size: small;
}

pre code {
    font-family: 'Consolas', 'Menlo', monospace;
    font-size: 0.75rem;
    padding: 5px 5px 5px 5px;
}

/* https://color.adobe.com/Reduction-Design-color-theme-10741292/ */